<h3>NOSOTROS</h3>
<p>Beauty es una empresa dedicada a la venta exclusiva de cosméticos y maquillajes, desde hace más de diez años. </p>
<p>Contamos con un total de cuatro sucursales dentro de la provincia de Buenos Aires, ubicadas en: Tandil,Balcarce,Caba y Mar del Plata </p>

<img width="800" class="img-thumbnail" loading="lazy" src="/assets/img/salon.jpg">

<div>
<div>
<h4>Contactanos</h4>

<li>Instagram:&#64;beautyshopArg</li>
<li>Facebook:beautyshopArgentina</li>
<li>TikTok: beautyLin</li>
<li>WhatsApp:25398764</li>

</div>
<div >
 <h4>Direcciones</h4>
<li>Tandil: 9 de julio 956</li>
<li>Balcarce: Av.Gonzales Chaves 548 </li>
<li>Caba: Av.Corrientes 322 </li>
<li>Mar del Plata: Guemes 3366 </li>

</div></div>